root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
files.autoSave = "afterdelay"
indent_style = tab
tab_width = 2

[*.fish]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[*.{el,clj,cljs,cljc,lisp,cl,scm,fnl,hy,rkt}]
indent_style = space

[*.md]
trim_trailing_whitespace = false

[README*.md]
max_line_length = 80
