[Desktop Entry]
Name=Launch Social Media
Comment=A convenience script to launch all social media and communication related programs I use
Exec=/bin/sh -c 'gtk-launch signal-desktop; gtk-launch io.element.Element.desktop; gtk-launch telegramdesktop; gtk-launch thunderbird; gtk-launch librewolf https://discord.com/app'
Terminal=false
Type=Application
#Icon=TBD
#StartupWMClass=Element
Categories=Network;InstantMessaging;Chat
#MimeType=x-scheme-handler/element;
